<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>GigaControl</vendor>
  <vendor_url>https://github.com/smairio/gigactl</vendor_url>

  <action id="io.github.smairio.gigactl.control-fans">
    <description>Control laptop fan speed</description>
    <message>Authentication is required to control the fans</message>
    <defaults>
      <!-- Anyone physically logged in may control fans without a password
           (like screen brightness); remote/inactive sessions need admin. -->
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
